<div class="form-container">
  <div class="form">
    <%= form_tag("/teachers/search") do %>
      <div class="field">
        <%= label :search, :name, "名前で検索する" %><br />
        <%= text_field :search, :name, autofocus: true %>
      </div>
      <div class="field", id="check_boxes">
        <%= label :search, :subject_ids, "教科から検索する" %><br />
        <%= collection_check_boxes :search, :subject_ids, Subject.all, :id, :subject %>
      </div>
    <%= submit_tag "検索を開始する", class:"search-button" %>
    <% end %>
  </div>
</div>
