<div class="photo">
  <%= image_tag @teacher.get_image %>
</div>
<div class="profile">

  <div class="profile__content">
    <div class="profile__content-right font-size">
      名前：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.name %>
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__content-right font-size">
      大学：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.university %>
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__content-right font-size">
      学部：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.department %>
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__content-right font-size">
      教科：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.get_subjects %>
    </div>
  </div>

  <div class="profile__profile font-size">
    <%= @teacher.profile %>
  </div>

</div>

<div class="footer">
  <div class="button">
    <%= link_to "チャット開始", root_path%>
  </div>
</div>

