<div class="photo">
  <%= image_tag @teacher.image %>
</div>
<div class="profile">

  <div class="profile__name profile__content">
    <%= @teacher.name %>
  </div>

  <div class="profile__department profile__content">
    <%= @teacher.department %>
  </div>

  <div class="profile__subject profile__content">
    <%= @teacher.subject %>
  </div>

  <div class="profile__profile profile__content">
    <%= @teacher.profile %>
  </div>

</div>
