<div class="photo">
  <%= image_tag @teacher.get_image %>
</div>
<div class="profile">

  <div class="profile__content">
    <div class="profile__content-right font-size">
      名前：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.name %>
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__content-right font-size">
      大学：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.university %>
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__content-right font-size">
      学部：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.department %>
    </div>
  </div>

  <div class="profile__content">
    <div class="profile__content-right font-size">
      教科：
    </div>
    <div class="profile__content-left font-size">
      <%= @teacher.get_subjects %>
    </div>
  </div>

  <div class="profile__profile font-size" style="margin-top: 75px;">
    <%= @teacher.profile %>
  </div>

</div>

<% if student_signed_in? %>
  <div class="footer">
    <div class="button">
    <%= link_to "チャット開始", chat_groups_path(student_id: current_student.id, teacher_id: @teacher_id), method: :post %>
    </div>
  </div>
<% end %>
