<!DOCTYPE html>
<html>
  <head>
    <title>Teachers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="header">
      <h1>家庭教師</h1>
      <%= link_to "ログアウト", destroy_teacher_session_path, method: :delete %>
    </div>
    <%= yield %>
    <div class="footer">
      <ul>
        <li>
          <%= fa_icon("home") %>
          <p>
            ホーム
          </p>
        </li>
        <li>
          <%= fa_icon("cog") %>
          <p>
            設定
          </p>
        </li>
      </ul>
    </div>
  </body>
</html>
