<!DOCTYPE html>
<html>
  <head>
    <title>Teachers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="header">
      <h1>家庭教師</h1>
    </div>
    <%= yield %>
    <div class="footer">
      <ul>
        <li>ホーム</li>
        <li>設定</li>
      </ul>
    </div>
  </body>
</html>
